*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    display: flex;
    background-color: black;
    list-style: none;
    align-items: center;
    justify-content:space-between;

}
.menus{
    display: flex;
}
.item{
    margin: 5px;
    padding: 5px;
    font-size:20px;
    color: blueviolet;
}
.item:hover{
    color: yellow;
    cursor:progress;
}
.logo-desing{
    background-color: #000000;
    width: 200px;
    cursor:cell;
}
.baner-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    /* border: 2px solid gray; */
    color: white;
    background-color: black;
}
.siz{
    font-size: 45px;
    font-weight: bold;
}
.siz-1{
    margin-top: 10px;
    margin-bottom: 10px;
    

}

.button-1{
    color: white;
    background-color: #ff0800;
    border: none;
    padding:5px;
    
}
.button-1:hover{
    color: #1324c2;
    cursor:grab;
}
.baner-photo{
    width: 300px;
}